{% extends 'base.html.twig' %}

{% block body %}
    <div>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet consequatur doloribus fugit hic itaque reiciendis
        totam vitae! Atque debitis exercitationem fuga incidunt ipsa, maiores obcaecati sed suscipit? Earum, ipsa,
        totam?
    </div>
{% endblock %}

{% block title %}
    {{ parent() }} | About
{% endblock %}

