{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} | Home{% endblock %}

{% block body %}
    <h2>Bienvenue dans le bucket-list
        {% if app.user %}
            {{ app.user.username }} !
        {% endif %}
    </h2>

{% endblock %}