{% extends "base.html.twig" %}

{% block body %}
    <h1>Welcome to Bucket-List
        {% if app.user %}
            {{ app.user.userIdentifier | capitalize }}
        {% endif %}
    </h1>
{% endblock %}

{% block title %}
    {{ parent() }} | Home
{% endblock %}
