{% extends 'base.html.twig' %}

{% block body %}
    <h2>Wish list</h2>

    <div>
        {%for wish in wishes %}
            <p><a href="{{ path('wish_detail', {'id': wish.id}) }}">{{ wish.title }} [{{ wish.category.name }}]</a></p>
        {% else %}
            <h3>Pas de souhaits enregistrés !</h3>
        {% endfor %}
    </div>

{% endblock %}